.wrapper-cont
  .h-cont
    =image_tag "logo.png", class: "logo"
  .main-cont
    .l-cont
      %h1.htext Find out what is your BMI
      %p.body-text Body mass index (BMI)is a measure of body fat based on height and weight that applies to adult men and women, and then categorize that person as underweight, normal weight, overweight, or obese
    .r-cont-m
      .r-cont-btt-cont
        .r-cont-btt
          %button.start-btt.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent
            = link_to "Start", new_survey_path