// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "material";
.mdl-button--accent {
  background-color: #FF6D00 !important;
}
.mdl-radio__ripple-container .mdl-ripple {
  background: #FF6D00!important;
}
.mdl-radio.is-checked .mdl-radio__outer-circle {
  border: 2px solid #FF6D00!important;
}
.mdl-radio.is-checked .mdl-radio__inner-circle {
  border: 2px solid #FF6D00!important;
}
.mdl-radio__inner-circle {
  background: #FF6D00!important;
}
.mdl-textfield__label:after {
  background: #FF6D00!important;
}
.select-wrap select {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border:none;
  padding: 0.5em 2em 0.5em 0.5em;
  background: transparent;
  position:relative;
  cursor:pointer;
}
.select-wrap {
  display:inline-block;
  position:relative;
  border-left:1px solid #cccccc;
  border-right:1px solid #cccccc;
}
.select-wrap::after {
  display:block;
  width:0px;
  height:0px;
  content:"　";
  position:absolute;
  right:0.5em;
  top:50%;
  margin-top:-0.25em;
  border-top:0.5em solid #777777;
  border-left:0.5em solid transparent;
  border-right:0.5em solid transparent;


  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  pointer-events: none;
}
body{
  margin:0;
  padding:0;
}
.wrapper-cont{
  width: 1024px;
  height: 768px;
  margin: 0;
  padding: 0;
  background-color: #90A4AE;
  margin: 0 auto;
  float: left;
}
.h-cont{
  width: 100%;
  height: 50px;
  float: left;
  background-color: #263238;
}
.logo{
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
}
.main-cont{
  width: 100%;
  height: 718px;
  float: left;
}
.l-cont{
  width: 60%;
  height: 718px;
  float: left;
  text-align: center;
  background-image: url("fpic1.jpg");
  filter: alpha(Opacity=70);
  opacity: 0.7;
}
.htext{
  font-size: 74px;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: white;
}
.body-text{
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 20px;
  opacity: .87;
  -webkit-text-stroke-width: .2px;
  -webkit-text-stroke-color: white;
}
.r-cont{
  width: 40%;
  height: 718px;
  float: left;

}
.r-cont-btt-cont{
  display: flex;
  align-items: center;
}
.r-cont-btt{
  margin:0 auto;
  vertical-align: middle;
  text-align: center;
}
.start-btt{
  width: 220px;
  height: 90px !important;

  a{
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    line-height: 1;

  }
}
.hide{
  display: none;
}
.r-cont-form{
  margin: 0 auto;
}
.h3-cont{
  text-align: left;
  margin-left: 20px;
  opacity: 0.84;
  h3{
    font-size: 30px;
  }
}
.options-cont, .mdl-textfield{
  margin-left:20px !important;
}
.select-cont{
  margin-left: 20px;
}